body{
	background-image: url(https://hbr.org/resources/images/article_assets/2018/08/R1805D_CHIN.jpg);
}
#contact{
	align-items: center;
	font-size: 25px;
	background-color: white;
	padding-right: 25%;
	padding-left: 25%;
}
a:visited{
	color: yellow;
}
a:link{
	color: pink;
}
